
body {
     background-color: white;
     font-size: 50;
}
h1 {
  font-family: verdana;
  font-size: 300%;
}
h2 {
  font-family: verdana;
  font-size: 150%;
}

select{
  margin: 10px;
  border: 1px solid #111;
  background: transparent;
  width: 120px;
  padding: 5px 35px 5px 5px;
  font-size: inherit;
}

.result{
  display: inline-block;
}
